body{
    font-size: 80px;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container, .result {
    border: .5px solid black;
}

.container{
    width: 360px;
    padding: 30px;
    border-radius: 25px;
}

.result, .button{
    border-radius: 10px;
}

.result{
    text-align: right;
    padding: 10px;
    margin-bottom: 50px;
}

button{
    font-size: 30px;
    width: 85px;
    height: 85px;
    text-align: center;
}

#zero{
    width: 180px;
}

.row1, .row2, .row3, .row4, .row5{
    display: flex;
    margin: 10px 0px;
    gap: 10px;
}
