body{
    font-size: 65px;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.result {
    border: 2px solid white;
}

.container{
    width: 360px;
    padding: 30px;
    border-radius: 25px;
    background-color: #9B6A6C
}

.result, button{
    border-radius: 10px;
}

.result{
    text-align: right;
    padding: 10px;
    margin-bottom: 50px;
    background-color: #b09398;
}

button{
    font-size: 30px;
    width: 85px;
    height: 85px;
    text-align: center;
    background-color: #ebfcfb;
}

button:hover{
    background-color: #dfebe7;
}

#zero{
    width: 180px;
}

.other{
    background-color: white;
}

.other:hover{
    background-color: #f6fffe;
}

.operation{
    background-color: #cedfd9;
}

.operation:hover{
    background-color: #b3c4be;
}

.row1, .row2, .row3, .row4, .row5{
    display: flex;
    margin: 10px 0px;
    gap: 10px;
}
